<%= form_with(model: prediction, local: true) do |form| %>
  <% if prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>
      <ul>
        <% prediction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-content">
    <div class="form-group">
      <%= label_tag(:name, "Prediction Name:") %>
      <%= form.text_field :name, class: "form-control"%>
    </div>

    <div class="form-content">
      <%= label_tag(:description, "Prediction Description:") %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-content">
      <%= label_tag(:probability_in_percent, "Prediction Probability:") %>
      <%= form.select(:probability_in_percent, options_for_select([[5], [10], [15], [20], [25], [30], [35], [40], [45], [50], [55], [60], [65], [70], [75], [80], [85], [90], [95]], 1)) %>
    </div>

    <div class="form-content">
      <%= label_tag(:expiration_date, "Prediction Expiration Date:") %>
      <%= date_field(:prediction, :expiration_date)%>
    </div>

    <%= form.hidden_field(:user_id, value: current_user.id) %>

  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
