<p id="notice"><%= notice %></p>
<h1><%= @prediction.name %></h1>
<h3>Description: <%= @prediction.description %></h3>
<h3>Probability: <%= @prediction.probability_in_percent %>%</h3>
<h3>Expiration Date: <%= @prediction.expiration_date %></h3>
<h3>Outcome: 
  <% if @prediction.outcome.nil? %>
    <%= form_with model: @prediction, local: true, method: "patch" do |form| %>
      <div class="float-these">
        <%= label_tag(:positive, "Positive") %>
        <%= form.radio_button(:outcome, true) %>
        <%= label_tag(:negative, "Negative") %>
        <%= form.radio_button(:outcome, false) %>
      </div>
      <%= form.submit "Submit" %>
    <% end %>
  <% else %>
    <%= @prediction.outcome %>
  <% end %>
</h3>
<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
