<h1><u>Welcome to Bayesian Predicitons!</u></h1>
<h2>Dashboard</h2>
<p>You have <%= @predictions.length %> predictions.</p>
<p><%= @fullfilled.length %> out of those are fullfilled.</p>
<p><%= @uncertain.length %> out of those are still pending.</p>
<%= button_to "Your Predictions", predictions_path, method: "get", class:"btn-primary" %>
<%= %>