<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>Bayesian Predictions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script script>
      MathJax = {
        tex: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        },
        svg: {
          fontCache: 'global',
        }
      };
  </script>
  <script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a href="/" class="btn text-white bg-gradient-primary">Bayesian Predictions</a>
          <% if user_signed_in? %>
            <%= link_to "#{current_user.email}", "/profile/#{current_user.id}", class: "btn text-center text-white bg-gradient-primary" %>
            <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "btn text-white bg-gradient-primary" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "text-white btn btn-info" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "text-white btn btn-success" %>
          <% end %>
        </nav>
      </header>
      <main style="min-height: 96vh">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
