<!DOCTYPE html>
<html>
  <head>
    <title>Bayesian Predictions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
        }
    });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body style="background:thistle;">
    <div style="background:lavender;" class="container">
      <nav>
        <ul class="nav bg-primary d-flex justify-content-between">
          <li>
            <a href="/" class="btn text-white bg-gradient-primary">Bayesian Predictions</a>
          </li>
          <li>            
            <% if user_signed_in? %>
              <%= link_to "#{current_user.email}", "/profile/#{current_user.id}", class: "btn text-center text-white bg-gradient-primary" %>
              <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "btn text-white bg-gradient-primary" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "text-white btn btn-info" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "text-white btn btn-success" %>
            <% end %>
          </li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
